.navbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #ff4500;
  }
  
  .navbar button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar button:hover {
    background-color: #e63c00;
  }
  